nimcache
nimsuggest.log
*.exe
/dec05-typescript/solution.js
node_modules
*.ipynb
.ipynb_checkpoints
elm-stuff
index.html
.idea
*.iml
npm-debug.*
out
.vscode
.analysis_options
/dec12-dart/.packages
/dec15-rust/.project
target
.settings

/dec13-java/src/*.class
